<head>
    <style>
        tr {
            border-bottom: 1px solid #ddd;
        }
    </style>

    <script type="text/javascript" src="./script.js"></script>

</head>
<body>
    <div class="container">
        <h1 class="pt-5">All Your Trips</h1><br>

        <div class="mb-5 shadow p-3 bg-body-tertiary rounded"> 
        <table class="table table-light">
            <tr>
                <th >Trip Name</th>
                <th>Start Date</th>
                <th >Duration</th>
                <th >Progress</th>
                <th></th>
                <th></th>
            </tr>
            {{#each data}}
            <tr>
                
                <td >
                    <a href="/edit/{{this.trip_id}}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{this.trip_title}}</a>
                </td>


                <td >{{formatDate this.start_date}}</td>
                <td >{{this.number_of_days}} Days</td>
                <td >{{this.trip_progress}}</td>

                <td>
                    <button data-bs-toggle="modal" data-bs-target="#share-modal-{{this.trip_id}}" type="button" id="{{this.trip_id}}" class="share btn btn-outline-dark">Share</button>
                </td>

                <td>
                    <form action="/tripDelete" method="post">
                        <button class="btn btn-outline-danger" name="trip_id" value="{{this.trip_id}}">Delete</button>
                    </form>
                </td>
                
                <div id="share-modal-{{this.trip_id}}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Share this trip</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/tripShare" method="post">

                                    <label for="share_to" class="form-label">Share {{this.trip_title}} with this user</label>
                                    <input type="text" class="form-control" id="share_to" name="receiver_id" placeholder="username">
                                    <br>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" name="trip_id" class="btn btn-primary" value="{{this.trip_id}}">Share</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </tr>
            {{/each}}
        </table>
        </div>

                 

    </div>


</body>

