<h1>Notifications</h1>
<table class="table">
            <thead>
                <tr>
                    <th>Sender</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{sender_username}}</td>
                    <td>{{message}}</td>
                    <td>{{date_sent}}</td>
                    <td>
                        <div id="action-buttons-{{notifications_id}}">
                        <button class="btn btn-success" onclick="handleResponse({{notifications_id}}, 'accept', {{recevier_username}})">Accept</button>
                        <button class="btn btn-danger" onclick="handleResponse({{notifications_id}}, 'decline', {{recevier_username}})">Decline</button>
                        </div>
                       <div id="action-response-{{notifications_id}}" style="display: none;"></div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <script>
        function handleResponse(notificationId, action, receiverUsername) {
            const actionDiv = document.getElementById(`action-buttons-${notificationId}`);
            const responseDiv = document.getElementById(`action-response-${notificationId}`);
            actionDiv.style.display = 'none';

            let url = '';
            let bodyData = {
                notificationId: notificationId,
                receiverUsername: receiverUsername
            };

            if(action === 'accept'){
                responseDiv.innerHTML = 'Accepted';
                responseDiv.style.color = 'green';
                url = '/notifications/accepted';
            } else if(action === 'decline'){
                responseDiv.innerHTML = 'Declined';
                responseDiv.style.color = 'red';
                url = '/notifications/declined';
            }

            responseDiv.style.display = 'block';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(bodyData)
            }).then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            }).then(data => {
                console.log('Success:', data);
            }).catch(error => {
                console.error('Error:', error);
            });
        }
        </script>

        