<div class="container">

  <div class="header">
    <h1>{{data.fullname}}</h1>
    <p id="location">Location</p>
  </div>

  <div class="description">
    <p>{{data.description}}</p>
  </div>

  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      {{#times (getImagesRows images)}}
          {{#if (checkIndex @index)}}
          <div class="carousel-item active">
          {{else}}
          <div class="carousel-item">
          {{/if}}
          <div class="container-fluid">
            <div class="row align-items-center" style="height: 30vh">
              {{#with (getNimagesFromIndex data.images @index) as | image |}}
                {{#each image.images}}
                  <img src="{{this}}" class="col-sm-3" alt="From park">
                {{/each}}
              {{/with}}
            </div>
          </div>
        </div>
      {{/times}}

    </div>
    
  </div>


  <div class="button-container pt-2">
  {{#each data2}}
  <div class="button bgcolor-zomp text-light">
    {{this.name}}
  </div>
  {{/each}}
  </div>

  <h3 style="padding-top:50px;">Things to do</h3>

  <div class="activities-grid pt-3 pb-5">
    {{#each data3}}

    <div class="card shadow p-3 bg-body-tertiary rounded bo-color-light" style="width: 22rem;">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{this.timeOfDayDescription}}</h6>
        <p class="card-text">{{this.shortdescription}}</p>
        <a href="https://www.nps.gov" class="card-link link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">See more at nps.gov</a>
      </div>
    </div>

    {{/each}}
  </div>

</div>

<script>
    function getState(abbreviation) {
    const states = {
        AL: "Alabama", AK: "Alaska", AZ: "Arizona", AR: "Arkansas", CA: "California",
        CO: "Colorado", CT: "Connecticut", DE: "Delaware", FL: "Florida", GA: "Georgia",
        HI: "Hawaii", ID: "Idaho", IL: "Illinois", IN: "Indiana", IA: "Iowa",
        KS: "Kansas", KY: "Kentucky", LA: "Louisiana", ME: "Maine", MD: "Maryland",
        MA: "Massachusetts", MI: "Michigan", MN: "Minnesota", MS: "Mississippi", MO: "Missouri",
        MT: "Montana", NE: "Nebraska", NV: "Nevada", NH: "New Hampshire", NJ: "New Jersey",
        NM: "New Mexico", NY: "New York", NC: "North Carolina", ND: "North Dakota", OH: "Ohio",
        OK: "Oklahoma", OR: "Oregon", PA: "Pennsylvania", RI: "Rhode Island", SC: "South Carolina",
        SD: "South Dakota", TN: "Tennessee", TX: "Texas", UT: "Utah", VT: "Vermont",
        VA: "Virginia", WA: "Washington", WV: "West Virginia", WI: "Wisconsin", WY: "Wyoming"
    };
        return states[abbreviation];
    }

    const abbreviation = '{{data.states}}';
    const fullName = getState(abbreviation);
    document.getElementById("location").textContent = fullName + ':   ' +'{{data.latitude}}' + ',  ' + '{{data.longitude}}';
</script>

<style>
    .container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    }
    .header{
    padding: 10px;
    margin-bottom: 20px;
    }
    .description{
    padding: 10px;
    margin-bottom: 20px;
    flex-grow: 1;
    overflow: auto;
    }
    .activity{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    }
    .header {
    background: #f5f5f5;
    }
    .button {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    }
    .button-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    }
    .activities-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    }
    .activity {
    flex: 0 1 calc(33.333% - 10px);
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    background: #f5f5f5;
    }
    .activity-name {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    background: #fff;
    }

</style>